.content__list {
    @include reset-list;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: stretch;

    @media(min-width: $tablet-width) {
        row-gap: 40px;
        column-gap: 40px;
    }

    @media(min-width: $desktop-width) {
        row-gap: 50px;
        column-gap: 50px;
    }
}

.content__item {
    @include reset-list;
    box-shadow: 3px 3px 10px 4px $gray-cross;
    padding: 20px;

    @media(min-width: $tablet-width) {
        width: calc(50% - 60px);
        display: flex;
        flex-direction: column;
    }

    @media(min-width: $desktop-width) {
        width: calc(33.3% - 73px);
    }
}

.content__img {
    margin-bottom: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    @media(min-width: $tablet-width) {
        max-height: 200px;
        min-height: 200px;
        padding: 20px 0;
        position: relative;

        &::after {
            content: "";
            background: url("../img/damask-background.jpg");
            opacity: 0.3;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1;
        }
    }
}

.content__img img {
    object-fit: scale-down;
    border-radius: 10%;
}

.content__desc {
    margin-bottom: 20px;

    @media(min-width: $tablet-width) {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}

.content__title {
    @include title-h1;
    margin-bottom: 40px;
}

.content__desc-title {
    @include title-h2;
    margin-bottom: 10px;

    @media(min-width: $tablet-width) {
        min-height: 1.5em;
    }

    @media(min-width: $desktop-width) {
        min-height: 2em;
    }
}

.content__text {
    font-size: 14px;
    line-height: 18px;
    margin: 0;
}

.content__price {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.content__desc button {
    display: none;

    @media(min-width: $tablet-width) {
        cursor: pointer;
        display: inline-block;
        text-align: left;
        padding: 0;
        font-size: 12px;
        line-height: 16px;
        opacity: 0.5;
        font-style: italic;
        border: none;
        background-color: $white-basic;
        transition: 1s;
        

        &:hover {
            font-size: 14px;
            opacity: 0.6;
        }

        &:active {
            opacity: 1;
        }
    }
}

.content__button {
    background-color: $white-basic;
    border: none;
    border-bottom: 2px dotted $indian-red;
    padding: 0;
    padding-bottom: 3px;
    cursor: pointer;
    
  
    &:hover {
      border-bottom: 2px dotted $gray-cross;
    }
  
    &:active {
      opacity: 0.4;
    }
}

.content__vendor-title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 10px;
}

.content__link {
    color: $black-basic;
    font-weight: 500;
    color: $black-basic;
    letter-spacing: 0.5px;
}

.content__text--link + .content__text--link {
    padding-top: 5px;
}
