.footer {
  width: 100%;
  height: auto;
  background-color: $white-basic;
  box-shadow: 8px 0 8px 0 rgba(70, 70, 70, 0.1);
  position: sticky;
  z-index: 15;
  bottom: 0;
  left: 0;
}

.footer__wrapper {
  max-width: $desktop-width;
  margin: 0 auto;
  padding: 16px;

  @media(min-width: $tablet-width) {
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__content+.footer__content {
  margin-top: 20px;

  @media(min-width: $tablet-width) {
    margin-top: 0;
  }
}

.footer__title {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  opacity: 0.8;
}

.footer__text {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 16px;

  span {
    margin-right: 10px;
  }
}

.footer__social-icon {
  vertical-align: middle;
  transition: 1s;
}

.footer__social-link {
  &:hover svg {
    width: 32px;
    height: auto;
    transition: 1s;
    margin-left: -10px;
  }

  &:active {
    opacity: 0.6;
  }
}


.footer__content-link {
  color: $black-basic;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 1;
    color: $indian-red;
  }
}