.goods__wrapper {
  max-width: $desktop-width;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 16px;
  padding-right: 16px;

  @media (min-width: $tablet-width) {
      padding-top: 40px;
      padding-bottom: 40px;
      padding-left: 24px;
      padding-right: 24px;
  }
}

.goods__content + .goods__content {
  margin-top: 60px;

  @media (min-width: $tablet-width) {
    margin-top: 80px;
  }
}


