.navigation__list {
    @include reset-list;

    @media(min-width: $tablet-width) {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
}

.navigation__item {
    @include reset-list;

    @media(min-width: $tablet-width) {
        width: 33%;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    @media (min-width: $desktop-width) {
        width: 25%;
    }
}

.navigation__item + .navigation__item {
    margin-top: 10px;

    @media(min-width: $tablet-width) {
        margin-top: 0;
    }
}

.navigation__link {
    color: $black-basic;
    font-weight: 500;
    font-size: 14px;

    &:hover {
        opacity: 0.6;
    }

    &:active {
        opacity: 1;
        color: $indian-red;
    }

    @media (min-width: $desktop-width) {
        font-size: 16px;
    }
}